<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    
    <link rel="stylesheet" href="/stylesheets/stuffStyle.css">
    

</head>

<body style="background-color:rgb(221, 249, 240);">
    <a class="btn-small waves-effect waves-light" href="/">
        <i class="material-icons left">arrow_back</i>Return to home<i class="material-icons right">home</i>
    </a>
    <!-- Actual page content! -->
    <div class="container">
        <div class="section" id="stuffList">
            
            <h1><strong>Classes</strong></h1>
            <table>
                <thead>

                    <tr>
                        <th>Class Name</th>
                        <th>Teacher</th>
                        <th>Period</th>
                        <th></th>
                    </tr>

                </thead>
                <tbody>

                    <tr>
                        <td>Intro to WebApp Development</td>
                        <td>Mr. Wang</td>
                        <td>9(T,F)</td>
                        <td>
                            <a class="btn" href="/stuff/item">
                                <i class="material-icons right">arrow_forward</i>
                                Go to assignment page
                            </a>
                            
                        </td>
                    </tr>

                    <tr>
                        <td>Chemistry</td>
                        <td>Dr. Crane</td>
                        <td>7(M,T,Th,F)</td>
                        <td>
                            <a class="btn" href="/stuff/item">
                                <i class="material-icons right">arrow_forward</i>
                                Go to assignment page
                            </a>
                            
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <img src="/images/download.jfif">
        <div class="section" id="stuffAdd">
            <h2><strong>Add class:</strong></h2>
            <form>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="nameInput">Class Name:</label>
                        <input type="text" name="name" id="nameInput" class="validate" data-length="32" required>
                    </div>
                    <div class="input-field col s6">
                        <label for="quantityInput">Teacher:</label>
                        <input type="text" name="teacher" id="teacher" data-length="32" required>
                    </div>
                    <div class="input-field col s6">
                        <label for="quantityInput">Period:</label>
                        <input type="text" name="period" id="period" data-length="32" required>
                    </div>
                </div>  
                <button class="btn waves-effect waves-light" type="submit">
                    <i class="material-icons right">add</i>
                    Add
                </button>
            </form>
        </div>
    </div>
</body>
</html>